### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set
        
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [1]:
# Create an empty list
l1=[]
l2=list()

In [2]:
type(l1)

list

In [3]:
type(l2)

list

In [4]:
# create a list with int data types
newlist=[1,2,3,4]
newlist

[1, 2, 3, 4]

In [5]:
# create a list with string data type 
newlist2=['hi','wel','new']
newlist2

['hi', 'wel', 'new']

In [6]:
# create a list with mixed data types
newlist3=[1,'hi',True]
newlist3

[1, 'hi', True]

In [8]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]
ls3

[5, 6.5, 'age', True]

In [9]:
ls3[0]=0
ls3

[0, 6.5, 'age', True]

In [10]:
# Extract 'age' from the list ls3
ls3[2]

'age'

In [11]:
# Extract 'e'  from the list ls3
ls3[2][2]

'e'

In [14]:
# Extract 'age',True from the list ls3
ls3[2],ls3[3]

('age', True)

In [15]:
ls3[2:4]
#ls3[2:]

['age', True]

In [16]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.
ls4[2]

[3, 4]

In [17]:
first=[2,34,5,[56,81,[43,89],67],10]
# extract [43,89]

first[3][2]

[43, 89]

In [18]:
# extract 89
first[3][2][1]

89

In [19]:
print(dir(first))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [20]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]
newlist1.extend(newlist2)
newlist1

[1, 2, 3, 5, 6]

In [22]:
# append
newlist3=[6,7,8]
newlist4=[9,10]
newlist3.append(newlist4)
newlist3

[6, 7, 8, [9, 10]]

In [23]:
newlist3+newlist4

[6, 7, 8, [9, 10], 9, 10]

In [24]:
# insert
#syntax: listobject.insert(index,value)
newlist4.insert(0,8)
newlist4

[8, 9, 10]

In [25]:
newlist4.insert(2,12)
newlist4

[8, 9, 12, 10]

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [26]:
newlist4.pop()

10

In [27]:
newlist4

[8, 9, 12]

In [29]:
newlist4.pop(2)

12

In [30]:
newlist4

[8, 9]

In [32]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]

In [33]:
list_1.remove('hi')
list_1

[1, 2, 'wel', 8]

In [45]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]

In [36]:
first.remove(81)

ValueError: list.remove(x): x not in list

In [37]:
#del
#remove elements from the list : remove 81
del(first[3][1])

In [38]:
first

[2, 34, 5, [56, [43, 89], 67], 10, 59, 57]

In [39]:
# remove 43
del(first[3][1][0])
first

[2, 34, 5, [56, [89], 67], 10, 59, 57]

In [47]:
del(first[1:2])
first

[2, 5, [56, 81, [43, 89], 67], 10, 59, 57]

In [49]:
# remove the values 34 & 5.
first1= [2, 34, 5, 56,[[89], 67], 10, 59, 57]
del(first1[1:3])
first1

[2, 56, [[89], 67], 10, 59, 57]

In [ ]:
# remove the values 2 and 10 (first1)

In [53]:
del(first[0],first[3])

IndexError: list assignment index out of range

In [54]:
first

[[56, 81, [43, 89], 67], 10, 57]

In [55]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()

In [56]:
list1

[6, 2, 1, 4, 3, 2, 1]

In [57]:
#index
# returns the index of the element
# list object.index(value)
list1.index(4)

3

In [58]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]

In [59]:
ls1+ls2

[12, 23, 12, 45, 34, 6, 7, 8]

In [60]:
ls1*3

[12, 23, 12, 45, 12, 23, 12, 45, 12, 23, 12, 45]

In [61]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [62]:
# sorted() function
sorted(ls6)

[2, 4, 9, 12, 54, 78]

In [63]:
ls6

[12, 4, 78, 2, 9, 54]

In [64]:
# sort() method
ls6.sort()

In [65]:
ls6

[2, 4, 9, 12, 54, 78]

In [66]:
#descending order
sorted(ls6,reverse=True)
# ls6.sort(reverse=True)

[78, 54, 12, 9, 4, 2]

In [67]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [68]:
ls10=ls9
ls11=ls9.copy()
print(ls9)
print(ls10)
print(ls11)

[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [69]:
# do changes on original list ls9
ls9[1]=30
print(ls9)
print(ls10)
print(ls11)

[1, 30, 5, 2, 1, 3, 2, 10]
[1, 30, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [70]:
#split method
dt='12-08-2022'
dt.split('-')

['12', '08', '2022']

In [71]:
# loop
for i in ls11:
    print(i)

1
2
5
2
1
3
2
10

In [ ]:
#List comprehension
# one line expression of for loop

In [72]:
a=[1,2,3,4]
#list of square of elements of a
#for loop
b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16]

In [73]:
#list comprehension : syntax: [expression for if]
[i**2 for i in a]

[1, 4, 9, 16]

In [74]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.
[i for i in cities if len(i)>6]

['Chennai', 'Bangalore']

In [75]:
L=[4,7,8,9]
# Add value 5 to each element in the list
[i+5 for i in L]

[9, 12, 13, 14]

In [76]:
# Create a list of elements which is greater than 5 in the given list L
[i for i in L if i>5]

[7, 8, 9]

In [77]:
# Addition of two lists L1 and L2 (adding elements in the lists)
L1=[3,4,5,6]
L2=[1,3,5,8]

In [78]:
# for loop
n=[]
for x in range(0,len(L1)):
    n.append(L1[x]+L2[x])
print(n)

[4, 7, 10, 14]

In [79]:
[L1[x]+L2[x] for x in range(len(L1))]

[4, 7, 10, 14]

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [80]:
# empty tuple object
tuple1=()
#tuple1=tuple()

In [81]:
type(tuple1)

tuple

In [82]:
# create a tuple with elements
t1=(1,'hi',True)
t1

(1, 'hi', True)

In [83]:
# extract '4' from t3
t3=(23,4,'e','i')
t3[1]

4

In [84]:
# immutable
t3[0]=34

TypeError: 'tuple' object does not support item assignment

In [85]:
# convert tuple object into list object
t3=list(t3)
type(t3)

list

In [86]:
t3[0]=34

In [87]:
t3=tuple(t3)
type(t3)

tuple

In [88]:
t3

(34, 4, 'e', 'i')

In [89]:
#for loop
for x in t3:
    print(x)

34
4
e
i

In [90]:
print(dir(t3))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [91]:
# empty dict:
#d={}
d=dict()

In [92]:
type(d)

dict

In [93]:
# create dict of integer values
d1={'one':1,'two':2,'three':3}
d1

{'one': 1, 'two': 2, 'three': 3}

In [96]:
# create  dict of strings values
d2={32:'hi','next':'rrr'}
d2

{32: 'hi', 'next': 'rrr'}

In [ ]:
# create dict of mixed data types

In [97]:
d3={'new':34,'new1':'hi','new2':(1,2,3)}
d3

{'new': 34, 'new1': 'hi', 'new2': (1, 2, 3)}

In [99]:
print(dir(d3))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [98]:
d3.keys()

dict_keys(['new', 'new1', 'new2'])

In [100]:
d3.values()

dict_values([34, 'hi', (1, 2, 3)])

In [101]:
d3.items()

dict_items([('new', 34), ('new1', 'hi'), ('new2', (1, 2, 3))])

In [103]:
d4={'first':[5,6,7],'second':["a","b"],'third':(7,8,0),'fourth':"hello"}
#extract [5,6,7] from d4.
d4['first']

[5, 6, 7]

In [104]:
d4['third']

(7, 8, 0)

In [105]:
#extract 6
d4['first'][1]

6

In [106]:
#extract 'b'
d4['second'][1]

'b'

In [110]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'
d5['one']['el_one'][3]['el_two']

'z'

In [131]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
#extract 8
d6['new'][3][1]

'merge'

In [115]:
#extract 8
d6['mid']['ravi']

8

In [117]:
# for loop
for i in d6:
    print(d6[i])

[9, 4, 5, ['split', 'merge', 10]]
('s', 17, 0)
{'ram': 4, 'ravi': 8}

In [119]:
#mutable
d6['new'][0]=10
d6

{'new': [10, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'mid': {'ram': 4, 'ravi': 8}}

In [120]:
print(dir(d6))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [122]:
# using pop() method to remove the values in the dictionary
d6.pop('new')

[10, 4, 5, ['split', 'merge', 10]]

In [124]:
d6

{'old': ('s', 17, 0), 'mid': {'ram': 4, 'ravi': 8}}

In [125]:
# replace a key name 'mid' into middle
#d6['mid']='middle' # it will replace the values in the corresponding key.

In [128]:
# using pop() method to rename the key names in the dictionary
d6['middle']=d6.pop('mid')
d6

{'new': [9, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'middle': {'ram': 4, 'ravi': 8}}

In [ ]:
?d6.pop() # shift+tab

### Sets
- Unordered sequence of elements

- create set objects by using {} or set()

- sets are immutable

- sets are iterables

In [134]:
#create a set
# empty set
s1=set()
type(s1)

set

In [135]:
# create a set object of string values
s3={"Monday","Tuesday","Wednesday","Thursday","Friday"}

In [136]:
# create a set object of list values
s4=set(["Monday","Tuesday","Wednesday","Thursday","Friday"])

In [138]:
s4[0] #cannot do indexing and slicing

TypeError: 'set' object is not subscriptable

In [137]:
#immutable
s4[0]=9

TypeError: 'set' object does not support item assignment

In [139]:
print(dir(s4))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [140]:
# add element in the set s4.
s4.add('Saturday')
s4

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [141]:
#update
s4.update(['Day1','Day2','Day3'])

In [143]:
print(s4)

{'Friday', 'Wednesday', 'Tuesday', 'Saturday', 'Day1', 'Thursday', 'Monday', 'Day3', 'Day2'}

In [ ]:
# removing the items
- remove()
- pop()
- discard()

#discard() function if the item does not exist in the set then the set remain unchanged 
#whereas remove() method will through an error

In [144]:
s4.remove('Day1')
s4

{'Day2',
 'Day3',
 'Friday',
 'Monday',
 'Saturday',
 'Thursday',
 'Tuesday',
 'Wednesday'}

In [146]:
s4.pop()

'Friday'

In [148]:
s4.pop()

'Wednesday'

In [ ]:
?s4.discard()

In [149]:
s4.discard('Friday')

In [150]:
s4

{'Day2', 'Day3', 'Monday', 'Saturday', 'Thursday', 'Tuesday'}

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [151]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}
Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [153]:
#intersection
Days1.intersection(Days2)

{'Sunday'}

In [154]:
# difference
# elements in one set which are all not in another set.
A={10,20,30,40,50}
B={100,30,50,40,60}
A.difference(B) # A-B

{10, 20}

In [156]:
A-B

{10, 20}

In [155]:
B.difference(A)

{60, 100}

In [157]:
B-A

{60, 100}

In [ ]:
# Symmetric differnce
#All the elements except intersection.

In [158]:
A.symmetric_difference(B)

{10, 20, 60, 100}

In [159]:
B.symmetric_difference(A)

{10, 20, 60, 100}

In [160]:
# for loop
for i in A:
    print(i)

50
20
40
10
30

In [162]:
### map and filter function
# find the square of elements in the list
#map function: map square function
b=[2,3,4]
# map(fun,iterable)
square1=lambda x:x**2
list(map(square1,b))

[4, 9, 16]

In [163]:
tuple(map(square1,b))

(4, 9, 16)

In [165]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
words=lambda x:x[0]!='s'
list(filter(words,seq))

['food', 'great']

In [166]:
seq=('soup','salad','food','great')
words=lambda x:x[0]!='s'
list(filter(words,seq))

['food', 'great']

In [168]:
# Set objects remove duplicates
s=[1,2,4,2,5,3,3,7,7,7]
set1=set(s)
set1

{1, 2, 3, 4, 5, 7}

In [ ]:
--------------------------------------------------End--------------------------------------------------------------