### Language Overview
    
           - Variables
           
           - statements & Expressions
           
           - whitespace & comments
                           

### Types and Values

           - Data Types
           
           - user input & output
    
           - type() & id()

#### Variables

In [1]:
### Creata a variable
a=10

In [2]:
### Type of variable
type(a)

int

In [3]:
### Assign multiple values to multiple variables
b=12
c=14
d=23

In [4]:
b=12;c=14;d=23

In [5]:
### Assign same value to multiple variable
t=q=r=56

In [6]:
#python is case sensitive
var1=80
Var1=54

#### Keywords & Constants

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.
Rules for writing identifiers

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

Keywords cannot be used as identifiers.

In [7]:
1var=19

SyntaxError: invalid syntax (Temp/ipykernel_296/404194021.py, line 1)

A constant is a type of variable whose value cannot be changed.

In [ ]:
# pi=3.14

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

x = 5, y = 3, z = x + y
In the above example x, y and z are variables, 5 and 3 are values, = and + are operators.

So, the first combination x = 5 is an expression, the second combination y = 3 is an another expression and at last, z = x + y is also an expression.

Any Instruction that a python interpreter can execute (carry out) is called a Statement.

Each and every line or a sentence in any programming language is called an instruction.
In simple words – A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.
Each and every line of code that we write in any programming language is called a statement

Difference between Expressions and Statements in Python:

Expression	  

                                                                    Statement
                                                                    
An expression evaluates to a value	                          A statement executes something
The evaluation of a statement does not changes state	      The execution of a statement changes state
Evaluation of an expression always Produces or returns
a result value.	                                              Execution of a statement may or may not produces or displays a                                                                 result value, it only does whatever the statement says.
Every expression can’t be a statement.	                      Every statement can be an expression.

Example: >>> a + 16
>>> 20	                                                      Example:  >>> x = 3
                                                               >>> print(x)

                                                                 Output: 3

#### Whitespace & Comment

Indentation: A code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

Single line comments: Python single-line comment starts with a hashtag symbol with no white spaces (#) and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the comment.
Multi-line string as a comment: Python multi-line comment is a piece of text enclosed in a delimiter (“””) on each end of the comment. Again there should be no white space between delimiter (“””).

In [10]:
# variable declaration
r=17

In [11]:
""" This is the first sentence
This is the second sentence """
e=14
s=236

- numeric (int,float)

- bool

- complex

- string

In [12]:
### int
x=18

In [13]:
# type of a variable
type(x)

int

In [14]:
# output
x

18

In [15]:
### float
y=1.6

In [16]:
#type of a variable
type(y)

float

In [17]:
#output
y

1.6

In [18]:
### bool
z=True

In [19]:
#type of a variable
type(z)

bool

In [20]:
# output
z

True

In [21]:
### complex
c=3+5j

In [22]:
#type
type(c)

complex

In [23]:
#output
c

(3+5j)

In [24]:
### string
s='hello'

In [25]:
# type
type(s)

str

In [26]:
# output
s

'hello'

In [27]:
# case sensitive
new=16

In [28]:
New

NameError: name 'New' is not defined

In [29]:
# different formats to display output
print(x)

18

In [30]:
x
y
z

True

In [31]:
print(x);print(y);print(z)

18
1.6
True

In [32]:
print("The value of x is",x)

The value of x is 18

In [36]:
print("The value of x and y is ",x ,'&', y)

The value of x and y is  18 & 1.6

In [37]:
print('The value of x is {}'.format(x))

The value of x is 18

In [38]:
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 18 and y is 1.6

In [42]:
print('The value of y is {1} and x is {0}'.format(x,y))

The value of y is 1.6 and x is 18

In [39]:
print("Welcome")
print("to all")

Welcome
to all

In [ ]:
# output : Welcome to all --> using two print() functions.

In [40]:
# with end parameter end =''
print("Welcome",end=" ")
print("to all")

Welcome to all

In [43]:
## user input 
## input() function
input1=input()

5

In [44]:
# type of a variable input1
type(input1)

str

In [45]:
# Type casting
input2=int(input())

6

In [46]:
type(input2)

int

In [47]:
input3=float(input())

3.4

In [48]:
type(input3)

float

In [49]:
str(input2)

'6'

In [50]:
## multiple inputs
input1=input()
input2=input()

2
3

In [53]:
# split() method to write multiple imputs in a single line
i,j=input().split(",")

2,4

In [54]:
print(i);print(j)

2
4

#### type() and id()

The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.
###### syntax: id(object)

id() function returns the identity of the object. type() function returns the type of the object

In [55]:
id(x)

2051691014992

In [56]:
id(i)

2051691759152

In [ ]:
### Hands-on

Accept numbers from a user

Display float number with 2 decimal places using print()

Accept 5 float numbers as an input from the user

Accept any three string from one input() call

Create a variable named carname and assign the value Volvo to it.

Get two inputs in a single line by using user input function

Make a Python program that prints your name.

Make a program that displays several numbers

Get string object '123' from user input function and add value 1.

Make a program that asks the users preferred programming language.