# Solution I

In [2]:
# To reverse words in a given string
 
# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # apending reversed words to l
    l.append(i)
# printing reverse words
print(string)
print(" ".join(l))

geeks quiz practice code
code practice quiz geeks

In [3]:
# another method
str1="geeks quiz practice code"
s=str1.split()
p=list(reversed(s))
print(" ".join(p))

code practice quiz geeks

In [9]:
s="geeks quiz practice code"
r=s.split()
res=""
for i in range (len(r)-1,-1,-1):
    res=res+r[i]+' '
print(res)

code practice quiz geeks

In [11]:
#To print even length words in string
 
#input string
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
for i in s:
  #checking the length of words
  if len(i)%2==0:
    print(i)

This
is
python
language

In [12]:
# another method
#input string
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
a=[i for i in s if len(i)%2==0]
print(" ".join(a))

This is python language

In [13]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [14]:
 #Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
sorted(list1,reverse=True)

[500, 400, 300, 200, 100]

In [16]:
list2=[34,23,12,109,45,9]
list2.reverse()
list2

[9, 45, 109, 12, 23, 34]

In [18]:
# another method
[list2[i] for i in range(len(list2)-1,-1,-1)]

[34, 23, 12, 109, 45, 9]

In [20]:
print(list2[::-1])

[34, 23, 12, 109, 45, 9]

In [21]:
# Swap function
def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [24]:
# another method
x = [12, 35, 9, 56, 24]
temp=x[0]
x[0]=x[len(x)-1]  # len(x)-1 = [-1]
x[len(x)-1]=temp
print(x)

[24, 35, 9, 56, 12]

In [ ]:
Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7]
[x**2 for x in numbers]

[1, 4, 9, 16, 25, 36, 49]

In [26]:
# list of numbers
list1 = [10, -21, 4, -45, 66, -93, 1]
 
pos_count, neg_count = 0, 0
 
# iterating each number in list
for num in list1:
     
    # checking condition
    if num >= 0:
        pos_count += 1
 
    else:
        neg_count += 1
         
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)

Positive numbers in the list:  4
Negative numbers in the list:  3

In [27]:
# creating a list
list1 = [11, 5, 17, 18, 23, 50]
 
# Iterate each element in list
# and add them in variable total
for ele in list1:
    if ele % 2 == 0:
        list1.remove(ele)
 
# printing modified list
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

In [28]:
del(list1[2],list1[0])
print(list1)

[5, 23]

### Tuple

In [29]:
# Tuple summation
# Using list() + sum()
 
# initializing tup
test_tup = (7, 8, 9, 1, 10, 7)
 
# printing original tuple
#print("The original tuple is : " + str(test_tup))
 
# Tuple elements inversions
# Using list() + sum()
res = sum(list(test_tup))
 
# printing result
print("The summation of tuple elements are : " + str(res))

The summation of tuple elements are : 42

Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.


tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [30]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

Swap two tuples in Python
Given:

tuple1 = (11, 22)
tuple2 = (99, 88)

In [32]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple3=()
tuple3=tuple1
tuple1=tuple2
print(tuple3)
print(tuple2)

(11, 22)
(99, 88)

In [34]:
#Counts the number of occurrences of item 50 from a tuple
#Given:

tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [43]:
count=0
tuple1 = (50, 10, 60, 70, 50)
for i in tuple1:
    if i==50:
        count=count+1
print(count)

2

In [47]:
c=0
[c+1 for i in tuple1 if i==50 ]

[1, 1]

In [ ]:
### Dictionary

Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [48]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [50]:
# Function to print sum
 
def returnSum(myDict):
 
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
 
    return final
 
 
# Driver Function
dict1 = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict1))

Sum : 600

In [51]:
# another method
s=0
for i in dict1:
    s=s+dict1[i]
print(s)

600

In [9]:
def areRotations(string1, string2):
    size1 = len(string1)
    size2 = len(string2)
    temp = ''
 
    # Check if sizes of two strings are same
    if size1 != size2:
        return 0
 
    # Create a temp string with value str1.str1
    temp = string1 + string1
 
    # Now check if str2 is a substring of temp
    # string.count returns the number of occurrences of
    # the second string in temp
    if (temp.count(string2)> 0):
        print("Strings are rotations of each other")
    else:
        print("Strings are not rotations of each other")

In [10]:
areRotations('Hello','IHell')

Strings are not rotations of each other

In [ ]:
#rotate a list
List_1 = [1, 2, 3, 4, 5, 6]

n = int(input())
 
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
                 + list_1[0:len(list_1) - n])
print(list_1,',',n)

In [ ]:
### LMS Problems

In [ ]:
## Write a Python program to sort a given dictionary by key.

data = {'banana': 80,'cherry': 20,'apple': 60,'grapes':120}
sorted_result = sorted(data.items())

print(sorted_result)

In [13]:
data.items()

dict_items([('banana', 80), ('cherry', 200), ('apple', 60), ('grapes', 120)])

In [1]:
#Write a python program to create a list and print all the items in reverse index order.
lst = [10, 11, 12, 13, 14, 15]
lst.reverse()
print(lst)

[15, 14, 13, 12, 11, 10]

In [11]:
s='hello'
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [10]:
s.find('l')

2

In [20]:
#Write a Python function that takes two sorted lists and return merged List.
List_1=[7,23,4,0,1]
List_2=[90,3,12,87,43]
List_1.sort()
List_2.sort()
List_1+List_2

[0, 1, 4, 7, 23, 3, 12, 43, 87, 90]

In [21]:
#Write a Python program to remove duplicates from a list
List_3=[2,3,4,3,6,2,7,4]
new_list=set(List_3)
new_list

{2, 3, 4, 6, 7}

In [23]:
#Write a python function to check whether the list is Ascending order or not.
n=[56,90,87,54]    #assign list values from input
if sorted(n) == n: #for descending, use sorted(n, reverse=True)
    print("Yes")
else:
    print("No")

No